/* ================
Assign Variables */
:root {
--bg-color: hsl(127, 20%, 82%);
--calendar-bg-color: hsl(130, 20%, 100%);
--shade-color: hsla(150, 50%, 20%, 0.1);
--text-color: hsl(280, 30%, 20%);
--headline-color: hsl(0, 0%, 100%);
--rule-color: hsla(0, 0%, 50%, 0);
--primary-color: hsl(150, 50%, 50%);
--secondary-color: hsl(280, 50%, 50%);
}

.calendar{
    min-width: 500px !important;
}

.calendar-page {
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 1em/1.4;
    color: #222;
    background: var(--bg-color);
}

.calendar-page li {
    list-style: none;
}

.calendar-header {
  padding: 0;
  margin-top: 5px;
  margin-bottom: 0;
  display: flex;
  flex-flow: row wrap;
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
  min-width: 400px;
  border-radius: 25px 25px 0px 0px;
  background: linear-gradient(70deg, var(--primary-color), var(--secondary-color));
  color: var(--headline-color);
}

.calendar-header li {
  padding: 3px;
  text-align: center;   
  font-size: 15px; 
}

.calendar-body {
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: row wrap;
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
  min-width: 400px;
  border-bottom: #DADCE0 1px solid;
  border-left: #DADCE0 1px solid;
}

.day {
  background-color: white;
  padding: 3px;
  margin: 0;
  min-height: 120px;
  list-style:none;
  flex-grow: 1;
  flex-basis: 13.5%;
  overflow: auto;
  box-sizing: border-box;
  cursor: pointer;
  border-top: #DADCE0 1px solid;
  border-right: #DADCE0 1px solid;
  border-bottom: 0px;
}

.othermonth {
    background-color: #dddddd;
    cursor: auto;
  }

.daynumber {
    font-size: 13.5px;
    color: rgb(48, 47, 47);
    padding: 3px;
    font-weight: bold;
}

.daynumber-current {
    font-size: 13.5px;
    color: #F7F7F7;
    background-color: #30e24b;
    padding: 3px;
    font-weight: bold;
    border-radius: 12px;
}

.othermonth .daynumber {
    color: #777774;
}

ul.tasks {
    font-weight: 400;
    font-size: 12px;
    margin: 1px;
    margin-top: 3px;
    padding: 0;
}

.normal-event{
    background-color: #1D2769;
    color: #FEFEFE;
    margin-bottom: 1px;
    padding: 1px ;
    border-radius: 3px;
}
.special-event{
    color: #222;
 background: rgba(37, 185, 7, 0.308);
    border-radius: 3px;
    padding: 1px ;
}
.greyed-event {
    color: #FEFEFE;
    background-color:#cccccc !important;
    border-radius: 3px;
}

@media screen and (max-width:650px) {
    .day {
        min-height: 30px;
    }
}

  