/* .menu  li {
    display: inline-block;
    text-align: center;
    padding: 20px;
}

body {
    margin: 0  auto;
    max-width: 50em;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    line-height: 1.5;
    padding: 1em;
    text-align: center;
    background-color: whitesmoke;
}

h1 {
    color: #d13161;
}

a {
    color: #e81c4f;
}

#list  li {
    font-size: 20px;
    list-style: none;
} */