{% extends "base.html" %}

{% block head %}
    {{ super() }}
    <title>{% block title %} Calendar {% endblock %}</title>
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/calendar.css') }}"/>
{% endblock %}

{% block content %}
<div class="calendar-page">

    <div class="container-md  pt-2">
        <div class="d-inline-block mb-1">
            <input type="button" class="btn btn-outline-primary btn-sm bg-white" value="&lt;" onclick="window.location='{{ previous_month_link }}'"
                title="Previous month" />
            <input type="button" class="btn btn-outline-primary btn-sm bg-white" value="&gt;" onclick="window.location='{{ next_month_link }}'"
                title="Next month" />
            <span>{{ month_name }} {{ year }}</span>
            {% if month != current_month or year != current_year %}
            <input type="button" class="btn btn-primary btn-sm" onclick="window.location = window.location.pathname" value="back to current" />
            {% endif %}
        </div>

        <ul class="calendar-header">
            {% for weekday_header in weekdays_headers %}
                <li>{{ weekday_header }}</li>
            {% endfor %}
        </ul>

        <ul class="calendar-body">
            {% for day in month_days %}
                <li
                    {% if day.month != month %}
                        class="day othermonth"
                    {% else %}
                        class="day"
                    {% endif %}>

                    {% if day.day == current_day and day.month == current_month and day.year == current_year %}
                            <span class=" daynumber-current" >
                    {% else %}
                            <span class="daynumber">
                    {% endif %}
                    {{ day.day }}</span>
                    <ul class="text-center tasks">
                        {% if day.month|string in tasks and day.day|string in tasks[day.month|string] %}
                            {% for task in tasks[day.month|string][day.day|string]%}
                                <li
                                    {% if day.month != month %}
                                        class="greyed-event"
                                    {% elif task.type == 'Normal' %}
                                        class="normal-event"
                                    {% else %}
                                        class="special-event"    
                                    {% endif %}>
                                    {{task.title}}
                                    {% if task.type == 'Normal' %}
                                    <div>
                                        {{task.start.hour}}h
                                        {% if task.start.minute!=0%}
                                            :{{task.start.minute}}   
                                        {% endif %}
                                        -
                                        {{task.end.hour}}h
                                        {% if task.end.minute!=0%}
                                        :{{task.end.minute}}  
                                        {% endif %}
                                    </div>
                                    {% endif %}

                                    {% if task.type == 'Special' %}
                                    <div>
                                        from {{task.start.day}}/{{task.start.month}}
                                        to {{task.end.day}}/{{task.end.month}}
                                    </div>
                                    {% endif %}

                                    <span style="background-color: antiquewhite; color: black;">
                                        {% if task.location == 'None' %}
                                        Non attribué
                                        {% else %}
                                        {{task.location}}
                                        {% endif %}
                                    </span>
                                </li>
                            {% endfor %}
                        {% endif %}
                    </ul>
                </li>
            {% endfor %}
        </ul>

    </div>
</div>
{% endblock %}

