{% extends "base.html" %}

{% block content %}
    <div class="container bg-primary">
        <form role="form" method="POST" action="/signup">
        <fieldset>							
            <p class="text-uppercase pull-center"> SIGN UP.</p>	
                <div class="form-group">
                <input type="text" name="name" id="name" class="form-control input-lg" placeholder="Name">
            </div>
            <div class="form-group">
                <input type="email" name="email" id="email" class="form-control input-lg" placeholder="Email Address">
            </div>
            <div class="form-group">
                <input type="password" name="password" id="password" class="form-control input-lg" placeholder="Password">
            </div>
            <!--<div class="form-group">
                <input type="password" name="password2" id="password2" class="form-control input-lg" placeholder="Password2">
            </div> -->
                <div>
                <input type="submit" class="btn btn-md btn-primary"  value="Sign Up">
                </div>
        </fieldset>
    </form>
    <div class="mt-2">
        <span>Already registred ? </span><a  href="{{ url_for('auth.login') }}" >Login </a>
    </div>
    </div>
    

{% endblock %}